*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background: linear-gradient(90deg, #02a081, #ddf3e7); */
    background-color:  #05263F ;
    /* #05263F */
    /* #145ca3 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
html{
    font-size: 100%;
    height: 100%;

}
.box{
    position: absolute;
    top: 15%;
    left: 40%;
    height: 38rem;
    width: 27rem;
    background-color:#fff;
    border: 2px solid #ccc;
    border-radius: 15px;
    /* margin: 10px auto; */
    box-shadow: #ccc;
    
}



.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;

}
.inputData{
    display: flex;
    margin: 10px auto;
    /* background-color: red; */
    
}
input{
    background-color: #fff;
    width: 250px;
    height: 40px;
    /* border-radius: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-left: 15px;
    font-size: 1.5rem;
    border: none;
    outline: none;
    /* margin-left: 10px; */

    
}
.fa-location-dot{
    color: black;
    margin-left: 12px;
    margin-top: 4px;
}
.fa-magnifying-glass{
    margin-right: 10px;
    margin-top: 1px;
    background-color: lightblue;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}
i{
    color: black;
    font-size: 22px;
}
.info{
    /* background-color: rgb(245, 242, 242); */
    height: 20rem;
    text-align: center;
    align-items: center;
}
.info img{
    height: 150px;
    margin-bottom: 13px;
}

.info h1{
    margin-bottom: 10px;
    font-size: 44px;
}
sup{
    font-size: 25px;
}

.tabs{
    max-width: 27rem;
    display:flex;
    height: 100px;
    margin-top: 10px;
}
.tabs2{
    max-width: 27rem;
    display:flex;
    height: 100px;
    margin-top: 10px;

}
.humidity{
    margin: 7px;
    background-color: whitesmoke;
    height: 45px;
    width: 140px;
    padding-left: 20px;
    justify-content: flex-start;
}
.humidity img{
    height: 25px;
}
.wind{
    margin:7px;
    height: 45px;
    width: 140px;
    background-color: whitesmoke;
    padding-right: 20px;
    justify-content: flex-end;
}
.wind img{
    height: 25px;
}
.tabs .humidity, .tabs .wind{
    display: flex;
    align-items: center;
    width: 50%;
    /* height: 100px; */
}
.div1{
    margin: 7px;
    height: 40px;
    width: 140px;
    background-color: blue;

}
.div2{
    margin: 7px;
    height: 40px;
    width: 140px;
    background-color: blue;
}