* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(90deg, #02a081, #ddf3e7); */
    background-color: #05263F;
    /* #05263F */
    /* #145ca3 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

html {
    font-size: 100%;
    height: 100%;

}

.box {
    position: absolute;
    top: 15%;
    left: 40%;
    height: 44rem;
    width: 27rem;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: #ccc;

}
.inputData {
    display: flex;
    margin: 10px auto;
}

input {
    background-color: #fff;
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-left: 15px;
    font-size: 1.5rem;
    border: none;
    outline: none;
}

.fa-location-dot {
    color: black;
    margin-left: 12px;
    margin-top: 4px;
}

.fa-magnifying-glass {
    margin-right: 10px;
    margin-top: 1px;
    background-color: lightblue;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

i {
    color: black;
    font-size: 22px;
}

.info {
    height: 20rem;
    text-align: center;
    align-items: center;
}

.info img {
    height: 150px;
    margin-bottom: 13px;
}

.info h1 {
    margin-bottom: 10px;
    font-size: 44px;
}

sup {
    font-size: 25px;
}

.tabs {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.humidity,
.wind,
.temp_min,
.temp_max,
.pressure,
.visibility {
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    gap: 5px;

}

.humidity img,
.wind img {
    height: 25px;
}

